{{> header}}

<div class="body">
    {{> sidebar_left}}

    <div class="container">
        <div class="top-body">
            <div class="Title">What's popular?</div>
            <ul class="popular-posts">
                {{#each popularPosts}}
                <li class="popular-content">
                    <div class="captions"></div>
                    <h5><strong>{{title}}</strong></h5>
                    <h6>{{summary}}</h6>
                    <div class="profile-img-cap">
                        <img src="{{roomImage}}">  
                        <span class="room-name">{{room}}</span>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="bottom-body">
            {{#each posts}}
            <button type="button" class="btn post-container">
                <div class="lineh"></div>
                <a href="/home"></a>
                <div class="post-header">
                    <div class="op-pfp"><img id="pfp5" src="{{opPfp}}"/></div>
                    <div class="post-info">
                        <div class="op-username" id="op-username">by <a href="/profile">{{user}}</a> • {{date}}</div>
                        <div class="room">
                            <img id="fr1" src="{{roomImage}}"/>
                            <span class="roomname">{{room}}</span>
                        </div>
                    </div>
                </div>
                <div class="post-content">
                    <div class="post-title">{{title}}</div>
                    <div class="post-content">{{description}}</div>
                </div>
                <div class="post-footer">
                    <div class="votes">
                        <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">{{upvotes}}</span>
                        <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">{{downvotes}}</span>
                        <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">{{comments}}</span>
                    </div>
                </div>
            </button>
            {{/each}}
        </div>

    </div>

    <div class="right-body">
        <h3>Popular rooms</h3>
        <div class="Rooms-list">
            {{#each popularRooms}}
            <div class="Rooms-img">
                <img src="{{image}}">
                <div class="room-name">
                    <strong>{{name}}</strong> <br />
                    <h6>{{members}} members</h6>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
