        <div class="body">

        <div class="top-body">
        <div class="post-container">
            <a href="/home"><span class="return"><ion-icon name="return-up-back-outline"></ion-icon></span></a>
            <div class="post-header">
                <div class="op-pfp"><img id="pfp5" src="{{userImage}}"/></div>
                <div class="post-info">
                    <div class="op-username">by <a href="/profile">{{user}}</a> • {{date}}</div>
                    <div class="room">
                        <img id="fr1" src="{{roomImage}}"/>
                        <span class="roomname">{{room}}</span>
                    </div>
                </div>
            </div>
            <div class="post-content">
                <div class="post-title">{{postTitle}}</div>
                <div class="post-content">{{content}}
                </div>
            </div>
            <div class="post-footer">
                <div class="votes">
                    <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">{{up}}</span>
                    <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">{{down}}</span>
                    <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">5</span>
                </div>

                <div class="editdelete">
                    <a href="edithtml">Edit</a> 
                    <span class="delete">Delete</span>
                </div>
            </div>
        </div>

        <div class="reply-box">
            <div class="replyarea">
                <form>
                    <textarea name="reply" id="reply"></textarea>
                    <div id="submitreply-container">
                        <input id="submitreply" type="submit" value="Reply">
                    </div>
                </form>
            </div>
        </div>


        <div class="replylabel">
            <span id="replylabel">Replies</span>
        </div>


        <div class="replies">

            <div class="reply1">
                <div class="reply-container">
                    <div class="reply-header">
                        <div class="op-pfp"><img id="pfp5" src="images/prof-4.png"/></div>
                        <div class="reply-info">
                            <div class="op-username"><a href="profile.html">@azaVelasquez</a> • June 4, 2024</div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-content"> Yeah it's kinda annoying but I guess that's the life we gotta live as Lozollians.
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="votes">
                            <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">25</span>
                            <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">2</span>
                            <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">2</span>
                        </div>
        
                        <div class="editdelete">
                            <a href="editcomment.html">Edit</a> 
                            <span class="delete">Delete</span>
                        </div>
                    </div>
                </div>


                <div class="child-container">
                    <div class="space"></div>
                    <div class="reply-container" id="replychild1">
                        <div class="reply-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-3.png"/></div>
                            <div class="reply-info">
                                <div class="op-username"><a href="profile.html">@vince34</a> • June 4, 2024</div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-content"> Welllll you guys kinda deserve it. Mga iyakin haha.
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">3</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">50</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">0</span>
                            </div>
            
                            <div class="editdelete">
                                <a href="editcomment.html">Edit</a> 
                                <span class="delete">Delete</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="child-container">
                    <div class="space"></div>
                    <div class="reply-container" id="replychild1">
                        <div class="reply-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-5.png"/></div>
                            <div class="reply-info">
                                <div class="op-username"><a href="profile.html">@juan01</a> • June 4, 2024</div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-content"> Yo stop fighting di naman kayo yung naglalaro hahahaha
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">1</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">60</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">0</span>
                            </div>
            
                            <div class="editdelete">
                                <a href="editcomment.html">Edit</a> 
                                <span class="delete">Delete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="reply1">
                <div class="reply-container">
                    <div class="reply-header">
                        <div class="op-pfp"><img id="pfp5" src="images/prof-2.png"/></div>
                        <div class="reply-info">
                            <div class="op-username"><a href="profile.html">@roiMark</a> • June 4, 2024</div>
                        </div>
                    </div>
                    <div class="post-content">
                        <div class="post-content"> RULES ARE RULES LOL
                        </div>
                    </div>
                    <div class="post-footer">
                        <div class="votes">
                            <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">1</span>
                            <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">70</span>
                            <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">1</span>
                        </div>
        
                        <div class="editdelete">
                            <a href="editcomment.html">Edit</a> 
                            <span class="delete">Delete</span>
                        </div>
                    </div>
                </div>


                <div class="child-container">
                    <div class="space"></div>
                    <div class="reply-container" id="replychild1">
                        <div class="reply-header">
                            <div class="op-pfp"><img id="pfp5" src="images/prof-1.png"/></div>
                            <div class="reply-info">
                                <div class="op-username"><a href="profile.html">@gabLlenarex12</a> • June 4, 2024</div>
                            </div>
                        </div>
                        <div class="post-content">
                            <div class="post-content"> Yeah but those rules were completely trash. Banter is embedded into Esports Culture.
                            </div>
                        </div>
                        <div class="post-footer">
                            <div class="votes">
                                <ion-icon name="chevron-up-outline"></ion-icon> <span class="upvote">300</span>
                                <ion-icon name="chevron-down-outline"></ion-icon> <span class="downvote">1</span>
                                <ion-icon name="chatbubble-outline"></ion-icon><span class="replynum">0</span>
                            </div>
            
                            <div class="editdelete">
                                <a href="editcomment.html">Edit</a> 
                                <span class="delete">Delete</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        </div>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>